.App {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: grab;
}

canvas:active {
  max-width: 100vw;
  max-height: 100vh;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#loading-overlay {
  position: absolute;
  background-color: black;
  opacity: 95%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner {
  filter: saturate(0) brightness(0.7) contrast(1.2);
  animation: spin ease-in-out 1s infinite;
  font-size: 30px;
  color: white;
}

@keyframes spin {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
